<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.2.xsd"
	default-lazy-init="false">

	<description>Spring 任务调度配置文件</description>
	
	<!-- 开启任务调度注解配置 -->
	<task:annotation-driven/>
	
	<!-- 非注解方式实现,需设定执行类,方法及执行策略 cron 表达式 -->
	<!-- 
	<task:scheduled-tasks>  
    	<task:scheduled ref="jobService" method="job" cron="5/10 * * * * ?"/>  
	</task:scheduled-tasks>
	 -->
</beans>
